@model Quote


<div class="text-center">

    <div class="bg-light d-flex justify-content-center flex-column">



        <h2>"@Model.QuoteText" - @Model.Author</h2>
        <h3 class="text-center">@Model.Date</h3>
        <h3>Subject: @Model.Subject</h3>
        <h3>Citation: @Model.Citation</h3>
        <h5>QuoteId: @Model.QuoteId</h5>

        <div>
            <a asp-action="AddEdit" asp-route-QuoteId="@Model.QuoteId" class="btn btn-primary m-2">Edit</a>
            <a  asp-action="Delete" asp-route-QuoteId="@Model.QuoteId" class="btn btn-primary m-2">Delete</a>
        </div>
        
    </div>
</div>

